
.ingreso-clientes{
	text-align: center;
	font-size: 24px;
}
.titulo-contacto{
	margin: 20px;
	padding: 5px;
	text-align: center;
}
.btn{
	margin-top: 10px;
}
.tarjeta{
	justify-content:space-around;
	margin: 15px;
	padding: 10px;

	.sub-tarjeta{
		display:flex;
		width: auto;
		flex-direction: column;
		padding: 20px 45px;
		margin:20px 5px;
		flex-wrap:wrap;
	}

	.alinacion{
	width: 150px;
	height: 150px;
	margin: auto;
	padding: 10px;
	border-radius:100%;
	
}
	p{
		text-align: center;
	}
	h5{
		margin: 10px;
		padding: 5px;
		text-align: center;
	}
	.alinacion:hover{
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		border:solid 2px;
		transition:1s;
	}
	.sub-tarjeta:hover{
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		transform: scale(1.2);
		transition:1s;

	}
}