.footer{
	background:#555;
	background-size: cover;
	justify-content: space-between;
	align-items: center;
}
.logo__footer{  
 img {
	height:70px;
	width: 90px;
	border-radius: 20%;
	border:solid 2px;
	margin-left: 15px;
	flex-wrap:wrap;
}
}
.footer--redes{
 p {
	border: solid 2px;
	border-radius: 20%;
	margin: 0 10px;
}
}
.footer--autor{
	border:solid 2px;
	border-radius: 20%;
	margin-right: 15px;
	flex-wrap:wrap;
}