.footer{
	height: 140px;
	background:#717fe2;
	background-size: cover;
	justify-content: space-between;
	align-items: center;

.logo__footer{  
 img {
	height:70px;
	width: 90px;
	border-radius: 20%;
	border:solid 2px;
	margin-left: 15px;
	flex-wrap:wrap;
}
}
.footer--redes{
	margin: 10px;
	letter-spacing: 1.5px;
 a {
	margin:4px;
	text-align: left;
	text-decoration: none;
	color: black;
	font-size: 20px;
}
}
.footer--autor{
	margin-right: 15px;
	flex-wrap:wrap;
	a{
		margin: 15px;
	text-decoration: none;
	color:black;
	font-size: 20px;
	}
}
}
