.header__nav__fondo {
  display: flex;
  justify-content:space-around;
  width: 100%;
  background-image: url(../imagenes/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: flex; }

.header__cajalogo{
  display: flex;
}

 .header__nav__logo {
  width: 45%;
  margin: 25px;
  border: solid 1px;
  border-radius: 20%; }

.nav{ 
     ul {
         li {
          a{text-decoration: none;
	         color: white;}
	         }
	}
}
.nav ul li a:hover{
	border-bottom: solid 4px;
}
.activar{
	 border-bottom: solid 4px;

}
.navbar-collapse{
	justify-content:flex-end;
}