
* {
  font-family: opene sean;
  margin: 0;
  padding: 0; }



.espacios-nosotros{
 	margin: 20px;
 	padding: 15px;
 }

		
@import"contenedor-grid";
/*.........................................................................................................nav-bar*/
@import"nav-bar";
/*........................................................................................................main*/
@import"main";
/*........................................................................................................article-index*/
@import"article";
/* ...................................................................................................... footer*/
@import"footer";
/*--------------------------------------------------------------------------------------------------pagina contactos*/
@import"contacto";
/* --------------------------------------------------------------------------------------------------------catalago */
@import"catalogo";
/*------------------------------------------------------------------------------------------------..nosotros*/



 