
* {
  font-family: opene sean;
  margin: 0;
  padding: 0; }
		
@import"contenedor-grid";

/*.........................................................................................................nav-bar*/

@import"nav-bar";
.nav_a{
	display: inline-block;

	.color_ico{
		color:white;
		margin: 5px;
		display:inline-block;
	}
}
.nav_botton_movil{
	padding: 25px;
}.espacios-nosotros{
 	margin: 20px;
 	padding: 15px;
 }

/*........................................................................................................main*/
@import"main";
/*........................................................................................................article-index*/
@import"article";

/* ...................................................................................................... footer*/
  @import"footer";


  /*--------------------------------------------------------------------------------------------------pagina contactos*/

@import"contacto";
/* --------------------------------------------------------------------------------------------------------catalago */

@import"catalogo";

 /*------------------------------------------------------------------------------------------------..nosotros*/



 